[submodule "submodule/monolis_utils"]
	path = submodule/monolis_utils
	url = https://gitlab.com/mmlab_tsukuba/monolis_utils.git

[submodule "submodule/METIS"]
	path = submodule/METIS
	url = https://github.com/KarypisLab/METIS.git
